# Production deployment environment
NEXT_PUBLIC_APP_ENV=production

# Supabase
NEXT_PUBLIC_SUPABASE_URL="https:/fuhpwcylsdoh.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="..SyVM-d"
SUPABASE_SERVICE_ROLE_KEY="sdf34f-sdEARA"

# AI Providers

# AI Providers
GOOGLE_GENERATIVE_AI_API_KEY="AIzaSydsfdiuLImz3x4A"
COHERE_API_KEY="r3c23Ie"
OPENAI_API_KEY="sk-proj-2322222222222we"
UPSTASH_REDIS_REST_URL="https:23tash.io"
UPSTASH_REDIS_REST_TOKEN="3ldepdflfpdğfkdY"
