# Local development environment
NEXT_PUBLIC_APP_ENV=local

# Supabase
NEXT_PUBLIC_SUPABASE_URL="https://lypyzedsf3r43ff4f45f34f3fBsdfdsfdsfdsfvv2O6oiV8"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1Ndsfdsfdsfdsfdsff34ffdf43ddsf3IMzHHcGVKSh2PKeTO1k_VAaqBpyL-EARA"

# AI Providers
GOOGLE_GENERATIVE_AI_API_KEY="AIzaSyA6fdssdQk54rI4321ukA"
COHERE_API_KEY="1"
OPENAI_API_KEY="22222222222-"

# Optional cache / rate-limit
UPSTASH_REDIS_REST_URL="https://pumped-oriole-50006.upstash.io"
UPSTASH_REDIS_REST_TOKEN="fdsfddsf"
REDIS_URL=redis://localhost:6379/0

# KVKK şifrelemeleri için rastgele ve uzun bir güvenlik anahtarı
PII_ENCRYPTION_KEY=benim-dsfdsfcosdfdsfesi-23-3223rf!

# Veritabanı bağlantı adresi (Burayı kendi veritabanı adresinle değiştirmelisin)
DATABASE_URL=postgresql://postgres:[